.App {
    /* text-align: center; */
    width: 100vw;
  }

/* .center {
    margin: auto;
    display: table;
    margin-top: 10px;
} */
  

.aliveCell {
    background-color: black;

}

.deadCell {
    background-color: #142565;
}

.cell {
    display: inline-block;
    border: 1px solid rgb(29, 27, 32);
    width: 14px;
    height: 14px;
    /* box-sizing: border-box; */
}

.golBoard {
    line-height: 0;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-position: top;
    z-index: -1;
    width: 100%;
    /* box-sizing: border-box; */
}


.simulateButton {
    width: 50px;
    height: 20px;
    margin-bottom: 20px;
    background-color: aquamarine;
}