.modalContainer {
}
/* .ReactModal__Body--open {
    overflow: hidden;
  } */

.ReactModal__Overlay {
  z-index: 999999;
  width: 100vw;
  background: rgba(0, 0, 0, .8) !important;
  opacity: 0;
  transition: all .4s;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content {
  /* background: #09021c !important; */
  background: linear-gradient(to right, #000, #11082b, #000) !important;
  width: 55%;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  position: stretch !important;
}

.modalInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.modalHeader {
    font-size: 2em;
    color: #552992;
    text-align: center;
}

.modalText {
    font-size: 1.3em;
    color: #9cb8d7;
    margin-bottom: 25px;
}

.closeModalButton {
    /* margin: 40px; */
    font-size: 1.4em;
    /* width: 120px;
    height: 40px; */
    background-color: #CC0066;
    color: aliceblue;
    border-radius: 6px;
    transition: transform 0.23s ease-in-out;
    margin-bottom: 40px;
}

.closeModalButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.githubLink {
    color: #9cb8d7;
    font-weight: 500;
    margin: 30px;
    font-size: 1.4em;
}

.imageContainer{
    min-width: 80%;
}

.link {
    color: #2070ca;
}

.modalDescImg {
    width: 100%;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
}

.modalDescImg:hover {
    transform: scale(1.00);
}

@media (max-width: 900px) {
    .ReactModal__Content {
        width: 75%;
    }
}

@media (min-width: 2100px) {
    .modalHeader {
        font-size: 2.8em;
    }
    .modalText {
        font-size: 1.7em;
    }
    .githubLink {
        font-size: 1.8em;
    }
    .closeModalButton {
        font-size: 1.9em;
    }
}